@charset "ISO-8859-1";

table {
	border: none;
}

th, td {
	padding: 15px;
	text-align: center;
	color: black;
	border: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
}

li a {
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}